*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rbenv-version
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/dummy
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
Gemfile.lock
